$white: #fff;
$black: #000;
$dark-gray: #333;
$light-gray: #E0E0E0;
$maroon: #9B0750;
$header-font-size: 1rem;
$section-headings-font-size: 2rem;
$footer-headings-font-size: 1rem;
$footer-content-font-size: 0.9rem;
$transition: 0.3s;